*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
background-color: rgb(65, 8, 100);
    
}



h4{
  color: rgb(122, 107, 107);
  font-size: 72px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: inline-start;
  padding: 20px;
}

h4:hover{
    background-color: cornflowerblue;
    transition: 13s;   
    background-color: rgb(12, 109, 157);


}

label{
   color: azure;
   padding: 10px;
   margin: 10px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: rgb(102, 0, 255);
   font-size: 32px;
}

.FINAL{
    padding: 6px;
    padding-top: 34px;
    margin: 30px;


}
